[submodule "lib/zig-gamedev-lib"]
	path = lib/zig-gamedev-lib
	url = https://github.com/MasterQ32/zig-gamedev-lib/
[submodule "lib/SDL.zig"]
	path = lib/SDL.zig
	url = https://github.com/MasterQ32/SDL.zig
